.section__notify {
    background-color: pink;
    padding: 40px 0;
    .notify {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 300px;

        &__title {
            font-size: 24px;
            font-weight: 600;
        }
    }
}