@import '/styles/variables';

.pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 12px 0;

    a {
        background: $color-gray-blue;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;

        &:hover {
            background: $color-gray-light;
        }
    }
}