.section__callback {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    padding: 40px 0;

    .callback {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 300px;

        &__title {
    color: white;

            font-size: 24px;
            font-weight: 600;
        }
    }
}
