$color-blue: #394BF2;
$color-red: #EA2940;
$color-white: #FFFFFF;
$color-title: #0B162A;
$color-purple: #4d19cc;
$color-orange: #FFA500;
$color-yellow-orange: #ED760E;
$color-gray-cyan: #1E1E20;
$color-gray-blue:#C9D6FF;
$color-gray-light:#E2E2E2;